{% extends 'espaceMembres/layout.html.twig' %}
{% block title %}
    Concours
{% endblock %}
{% block content %}


    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target=".add-example-modal-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

    {# {% for concours in listeConcours %} #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group" >
                <h3>Concours d'été</h3>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Date</th>
                    <th>Lieu</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for concour in concours %}
                    <tr>
                        <td><a href="{{ path('membre_concours_show', { 'id': concour.id}) }}">{{ concour.titre }}</a></td>
                        <td>{% if concour.dateDebut %}{{ concour.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ concour.adresse }}{{ concour.cp }}{{ concour.ville }}</td>
                        <td>
                            <div class="input-group-btn">
                                <a class="btn btn-white btn-default  " href="{{ path('membre_concours_show', { 'id': concour.id })}}">Afficher</a>
                                <a class="btn btn-white btn-default  " href="{{ path('admin_concours_edit', { 'id':concour.id })}}">Modifier</a>
                                <a class="btn btn-white btn-default  " href="{{ path('membre_concours_show', { 'id':concour.id })}}">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {#{% endfor %} #}


    <div class="modal fade add-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter un concours</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'attr': {'id': 'formconcours', 'action': path('admin_concours_new'), 'method': 'POST'}}) }}
                    {{ form_widget(form)}}
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary" form="formconcours"><a href=" {{ path('admin_concours_new') }}"></a> Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
