{% extends 'espaceMembres/layout.html.twig' %}

{% block content %}
    <h1>Espace membres</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="input-group" >
                <a class="btn btn-white btn-default btn-lg active" href="{{ path('fos_user_registration_register')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </div>
            {% endif %}
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Cotisation</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for membre in users %}
                    <tr>
                        <td>{{ membre.nom }}</td>
                        <td>{{ membre.prenom }}</td>
                        <td>{{ membre.email }}</td>
                        <td>{{ membre.cotisation }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <div class="input-group-btn">
                                <a class="btn btn-white btn-default  " href="{{ path('em_listeMembres_profil', { 'id': membre.id })}}">Afficher</a>
                                <a class="btn btn-white btn-default  " href="{{ path('em_listeMembres_edit', { 'id': membre.id })}}">Modifier</a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- {# endfor #} -->
{% endblock %}
