{% extends 'base.html.twig' %}
{% block body %}
    {% block header %}
        <nav class="navbar navbar-default">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">ACCUEIL</a></li>
                    <li><a href="{{ path('evenements') }}">EVENEMENTS</a></li>
                    <li><a href="{{ path('palmares') }}">PALMARES</a></li>
                    <li><a href="{{ path('bagadig') }}">BAGADIG</a></li>
                    <li><a href="{{ path('membre_contact_new') }}">DEMANDE D'INFORMATION</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('em_accueil') }}" class="link-nav-right">ESPACE MEMBRES</a></li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
        <div class="container-fluid footer">
            <p>Copyright</p>
        </div>
    {% endblock %}
{% endblock %}