{% extends 'public/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar-perso">
            <ul>
                {% for palmares in listPalmares  %}
                    <li>
                        <a onclick="dataPalmares({{ palmares.id }});">
                            <div >
                                <h3>{{ palmares.titre }}</h3>
                                <p class="text-justify">
                                   Du {{ palmares.Concours.dateDebut|date("d/m/Y") }} au {{ palmares.Concours.dateFin|date("d/m/Y") }}
                                </p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
            <div class="thumbnail">
                <h1 id="palmaresTitre"></h1>
                <p class="text-justify" id="palmaresDescription">
                </p>
            </div>
        </div>
    </div>
    <script>
        function dataPalmares(id){
            $.ajax({
                url: '{{ path('OncePalmares') }}',
                type: 'POST',
                data: "id="+id,
                dataType: 'json',
                success: function(data, success){
                    document.querySelector('#palmaresTitre').innerText = data.titre;
                    document.querySelector('#palmaresDescription').innerText = data.description;
                }
            });
        }
    </script>
{% endblock %}