{% extends 'base.html.twig' %}

{% block body %}
    <h1>Concours list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Datedebut</th>
                <th>Lieu</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for concour in concours %}
            <tr>
                <td><a href="{{ path('admin_concours_show', { 'id': concour.id }) }}">{{ concour.id }}</a></td>
                <td>{{ concour.titre }}</td>
                <td>{% if concour.dateDebut %}{{ concour.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ concour.adresse }}{{ concour.cp }}{{ concour.ville }}</td>


                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_concours_show', { 'id': concour.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_concours_edit', { 'id': concour.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_concours_new') }}">Create a new concours</a>
        </li>
    </ul>
{% endblock %}
