{% extends 'espaceMembres/layout.html.twig' %}

{% block content %}
    <h1>Messages</h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">

{% for contact in contacts %}



        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ contact.id }}" aria-expanded="true" aria-controls="collapseOne">
                    <span><Strong>De: </Strong>  {{ contact.nom }} {{ contact.prenom }} </span> <span class="pull-right"><Strong >Le: </Strong> 25/07/2017</span>
                </a>
            </h4>
        </div>

        <div id="collapseOne{{ contact.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <table class="table  text-center">
                    <tbody>
                    <tr>
                    </tr>
                    <tr>
                        <th class="text-center info" >Objet:</th>
                        <td class="info">{{ contact.sujet }}</td>
                    </tr>
                    <tr>
                        <th class="text-center">Message:</th>
                        <td rowspan = "2"> {{ contact.message }}  </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default"><a href="mailto:{{ contact.mail }}">Répondre</button>
                <button  type="button" class="btn btn-default"><a href="{{ path('admin_contact_edit', { 'id': contact.id }) }}""></a>Supprimer</button>
                <span class="pull-right"><strong>Lu:</strong>{% if contact.lu %}Yes{% else %}No{% endif %}</span>

            </div>
        </div>



        {% endfor %}
        </div>
    </div>

{% endblock %}
